// Colors
$color-primary: #6855d5;
$color-light-primary: #8677dd;

$color-secondary: #1c191d;

$color-lightest-grey: #dededeff;
$color-lighter-grey: #afafafff;
$color-light-grey: #929292ff;
$color-medium-grey: #656067;
$color-dark-grey: #3f3942ff;

$color-orange-compliment: #d56855;
$color-orange-compliment-light: #dd8172;

$color-blue-compliment: #4169e1;
$color-blue-compliment-light: #5381e4;

// Breakpoints px/16
$bp-1: 120em; // 1920px
$bp-2: 93.75em; // 1500px
$bp-3: 80em; // 1280px
$bp-4: 62.5em; // 1000px
$bp-5: 53.75em; // 860px
$bp-6: 34.375em; // 500px
