@use "./../../../constants/variables" as *;
@use "./../../../constants/mixins" as *;

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 12rem;
    line-height: 1;
  }
}

.container {
  margin-top: 4rem;
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
