@use "./../../constants/variables" as *;
@use "./../../constants/mixins" as *;

.header {
  font-size: 12rem;
  line-height: 1;

  @media only screen and (max-width: $bp-3) {
    font-size: 10rem;
  }

  @media only screen and (max-width: $bp-4) {
    font-size: 9rem;
  }

  @media only screen and (max-width: $bp-6) {
    font-size: 7rem;
  }
}

.date {
  font-size: 3rem;
  color: $color-light-grey;

  @media only screen and (max-width: $bp-4) {
    font-size: 2.5rem;
  }
}

.skeleton_header {
  border-radius: 8px;
  width: 47rem;
  height: 11.6rem;
  margin-bottom: 1rem;

  @include shimmer;
}

.skeleton_date {
  border-radius: 8px;
  width: 25rem;
  height: 3rem;

  @include shimmer;
}
