@use "./../../../constants/variables" as *;
@use "./../../../constants/mixins" as *;

.skeleton_header {
  border-radius: 8px;
  width: 47rem;
  height: 11.6rem;
  margin-bottom: 1rem;

  @include shimmer;

  @media only screen and (max-width: $bp-3) {
    height: 9.2rem;
    width: 42rem;
  }

  @media only screen and (max-width: $bp-4) {
    height: 8rem;
    width: 38rem;
  }

  @media only screen and (max-width: $bp-6) {
    height: 6.8rem;
    width: 30rem;
  }
}

.skeleton_date {
  border-radius: 8px;
  width: 25rem;
  height: 3rem;

  @include shimmer;

  @media only screen and (max-width: $bp-4) {
    height: 2.5rem;
  }
}

.skeleton_container {
  margin-top: 4rem;
}

.skeleton_card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;

  .skeleton_card {
    @include card_base;

    pointer-events: none;

    @include shimmer;
  }
}
